<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/diff.css">
</head>
<body>

<div class="m-2 list-group">
    <div class="list-group-item">
        <div th:each="path : ${parentPath}" th:remove="tag">
            <div th:if="${path.fileType.equals('D')}" th:remove="tag">
                <a th:href="@{/explorer{path}(path=${path.filePath})}">
                    <div th:text="${path.fileName}" th:remove="tag">path.fileName</div></a> /
            </div>
            <div th:if="${path.fileType.equals('F')}" th:remove="tag">
                <div th:text="${path.fileName}" th:remove="tag">path.fileName</div>
            </div>
        </div>
    </div>

    <div class="list-group-item d-flex justify-content-between">
        <div class="d-flex" style="width: 100%; overflow-x: hidden">
            <div>
                <table class="mx-2 diffTable">
                    <div th:each="row : ${diff}" th:remove="tag">
                        <tr class="source"
                            th:id="${row.line}" th:if="${row.visible}"
                            th:style="${row.visible ? 'display:block' : 'display:none'}">
                            <td align="right" class="text-muted" th:text="${row.newLine}">row.newLine</td>
                        </tr>
                        <tr class="skip"
                            th:id="${row.line}" th:if="${row.skip}">
                            <td align="right" class="text-muted"></td>
                        </tr>
                    </div>
                </table>
            </div>

            <div style="width: 100%; overflow-x: scroll">
                <table class="diffTable" style="width: 100%">
                    <div th:each="row : ${diff}" th:remove="tag">
                        <tr class="source"
                            th:id="${row.line}" th:if="${row.visible}"
                            th:style="${row.visible ? 'display:block' : 'display:none'}"
                            th:classappend="${row.changeType.equals('C') ? 'trCreate' : row.changeType.equals('U') ? 'trUpdate' : row.changeType.equals('D') ? 'trDelete' : ''}">
                            <td th:utext="${row.newSource}" style="white-space: pre" nowrap>row.newSource</td>
                        </tr>
                        <tr class="skip"
                            th:id="${row.line}" th:if="${row.skip}">
                            <td align="center" class="text-muted">...</td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>

        <div class="d-flex" style="width: 100%; overflow-x: hidden">
            <div>
                <table class="mx-2 diffTable">
                    <div th:each="row : ${diff}" th:remove="tag">
                        <tr class="source"
                            th:id="${row.line}" th:if="${row.visible}"
                            th:style="${row.visible ? 'display:block' : 'display:none'}">
                            <td align="right" class="text-muted" th:text="${row.oldLine}">row.oldLine</td>
                        </tr>
                        <tr class="skip"
                            th:id="${row.line}" th:if="${row.skip}">
                            <td align="right" class="text-muted"></td>
                        </tr>
                    </div>
                </table>
            </div>

            <div style="width: 100%; overflow-x: scroll">
                <table class="diffTable" style="width: 100%">
                    <div th:each="row : ${diff}" th:remove="tag">
                        <tr class="source"
                            th:id="${row.line}" th:if="${row.visible}"
                            th:style="${row.visible ? 'display:block' : 'display:none'}"
                            th:classappend="${row.changeType.equals('C') ? 'trCreate' : row.changeType.equals('U') ? 'trUpdate' : row.changeType.equals('D') ? 'trDelete' : ''}">
                            <td th:utext="${row.oldSource}" style="white-space: pre" nowrap>row.oldSource</td>
                        </tr>
                        <tr class="skip"
                            th:id="${row.line}" th:if="${row.skip}">
                            <td align="center" class="text-muted">...</td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>