<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/diff.css">
</head>
<body>

<div id="top"></div>
<div id="0"></div>

<div class="m-2 list-group" style="padding-top: 144px">
    <th:block th:replace="fragments.html :: diff-header"></th:block>

    <div class="list-group-item d-flex justify-content-between">
        <div class="d-flex mt-3" style="width: 100%; overflow-x: hidden">
            <div>
                <table class="mx-2 diffTable">
                    <th:block th:each="row : ${diff.toList()}">
                        <tr class="source d-flex justify-content-end"
                            th:id="${row.line}" th:if="${row.visible}">
                            <td class="text-muted" th:text="${row.newLine}">row.newLine</td>
                        </tr>
                    </th:block>
                </table>
            </div>

            <div style="width: 100%; overflow-x: auto">
                <table class="diffTable" style="width: 100%">
                    <th:block th:each="row : ${diff.toList()}">
                        <tr class="source"
                            th:id="${row.line}" th:if="${row.visible}"
                            th:classappend="${row.changeType.equals('C') ? 'trCreate' : row.changeType.equals('U') ? 'trUpdate' : row.changeType.equals('D') ? 'trDelete' : row.changeType.equals('S') ? 'trSkip text-muted' : ''}">
                            <td th:utext="${row.newSource}" style="white-space: pre" nowrap>row.newSource</td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

        <div class="d-flex mt-3" style="width: 100%; overflow-x: hidden">
            <div>
                <table class="mx-2 diffTable">
                    <th:block th:each="row : ${diff.toList()}">
                        <tr class="source d-flex justify-content-end"
                            th:id="${row.line}" th:if="${row.visible}">
                            <td class="text-muted" th:text="${row.oldLine}">row.oldLine</td>
                        </tr>
                    </th:block>
                </table>
            </div>

            <div style="width: 100%; overflow-x: auto">
                <table class="diffTable" style="width: 100%">
                    <th:block th:each="row : ${diff.toList()}">
                        <tr class="source"
                            th:id="${row.line}" th:if="${row.visible}"
                            th:classappend="${row.changeType.equals('C') ? 'trCreate' : row.changeType.equals('U') ? 'trUpdate' : row.changeType.equals('D') ? 'trDelete' : row.changeType.equals('S') ? 'trSkip text-muted' : ''}">
                            <td th:utext="${row.oldSource}" style="white-space: pre" nowrap>row.oldSource</td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="bottom"></div>

</body>
</html>