<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=11">
    <title>Source Diff.</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/regular.js"></script>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<nav th:fragment="nav-home" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Source Diff.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<nav th:fragment="nav-main" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Source Diff.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Repositories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <th:block th:each="repository : ${repositories}">
                            <li><a class="dropdown-item" th:href="@{/explorer/{path}(path=${repository.name})}" th:text="${repository.name}">repository.name</a></li>
                        </th:block>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/filter{path}(path=${path})}">
                <input type="checkbox" class="btn-check" id="check-diff" name="diff" th:checked="${diffCheck}">
                <label class="btn btn-outline-warning me-2" for="check-diff">Diff.</label>
                <input type="checkbox" class="btn-check" id="check-dev" name="dev" th:checked="${devCheck}">
                <label class="btn btn-outline-success me-2" for="check-dev">Dev</label>
                <input type="checkbox" class="btn-check" id="check-prod" name="prod" th:checked="${prodCheck}">
                <label class="btn btn-outline-secondary me-2" for="check-prod">Prod</label>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" th:value="${search}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div th:fragment="footer" class="container">
    <footer class="py-3 my-4 border-top">
        <p class="text-center text-muted">&copy; 2021 NuBiFoRM's Studio</p>
    </footer>
</div>

<th:block th:fragment="diff-header">
    <div class="list-group fixed-top" style="background-color: white">
        <div class="mx-2 mt-2 list-group-item">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <th:block th:each="path : ${parentPath}">
                        <th:block th:if="${path.fileType.equals('D')}">
                            <a th:href="@{/explorer{path}(path=${path.filePath})}">
                                <th:block th:text="${path.fileName}">path.fileName</th:block></a> /
                        </th:block>
                        <th:block th:if="${path.fileType.equals('F')}">
                            <th:block th:text="${path.fileName}">path.fileName</th:block>
                        </th:block>
                    </th:block>
                </div>
                <div class="d-flex justify-content-between">
                    <form>
                        <input type="hidden" name="revisedType" th:value="DEV"/>
                        <input type="hidden" name="originalType" th:value="PROD"/>
                        <button class="btn btn-sm me-2" th:classappend="${mode.equals('DEFAULT') ? 'btn-warning' : 'btn-outline-warning'}" type="submit">Default</button>
                    </form>
                    <form>
                        <input type="hidden" name="revisedType" th:value="DEV"/>
                        <input type="hidden" name="originalType" th:value="DEV"/>
                        <button class="btn btn-sm me-2" th:classappend="${mode.equals('DEV') ? 'btn-success' : 'btn-outline-success'}" type="submit">Dev</button>
                    </form>
                    <form>
                        <input type="hidden" name="revisedType" th:value="PROD"/>
                        <input type="hidden" name="originalType" th:value="PROD"/>
                        <button class="btn btn-sm" th:classappend="${mode.equals('PROD') ? 'btn-secondary' : 'btn-outline-secondary'}" type="submit">Prod</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="mx-2 list-group-item">
            <form>
                <input type="hidden" name="revisedType" th:value="${revisedType}"/>
                <input type="hidden" name="originalType" th:value="${originalType}"/>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-between" style="width: 100%">
                        <div class="input-group input-group-sm me-2">
                            <span class="input-group-text" th:text="${revisedType.value}">revisedType.value</span>
                            <select class="form-select form-select-sm" name="revised" th:if="${revisedRevision.size() == 0}">
                                <option value="">NONE</option>
                            </select>
                            <select class="form-select form-select-sm" name="revised" th:if="${revisedRevision.size() > 0}">
                                <th:block th:each="info : ${revisedRevision}">
                                    <option th:value="${info.revision}" th:text="${info.getSvnInfo()}" th:selected="${info.revision == revised}">info</option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between" style="width: 100%">
                        <div class="input-group input-group-sm me-2">
                            <span class="input-group-text" th:text="${originalType.value}">Prod</span>
                            <select class="form-select form-select-sm" name="original" th:if="${originalRevision.size() == 0}">
                                <option value="">NONE</option>
                            </select>
                            <select class="form-select form-select-sm" name="original" th:if="${originalRevision.size() > 0}">
                                <th:block th:each="info : ${originalRevision}">
                                    <option th:value="${info.revision}" th:text="${info.getSvnInfo()}" th:selected="${info.revision == original}">info</option>
                                </th:block>
                            </select>
                        </div>
                        <div>
                            <button class="btn btn-success btn-sm" type="submit">Compare</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="mx-2 list-group-item">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <div class="pagination pagination-sm">
                        <li class="page-item">
                            <a class="page-link" href="#top">Top</a>
                        </li>
                        <th:block th:each="line, index : ${diffList}">
                            <li class="page-item"><a class="page-link" th:href="${'#' + (line - 10 < 0 ? 0 : line - 10)}" th:text="${index.count}">line</a></li>
                        </th:block>
                        <li class="page-item">
                            <a class="page-link" href="#bottom">Bottom</a>
                        </li>
                    </div>
                </div>
                <div>
                    <div class="pagination pagination-sm" style="display: none">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-2 list-group-item" style="display: none">
        </div>
    </div>
</th:block>

</html>