<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: nav"></div>

<div class="container">
    <div class="mt-5 mb-5">
        <ul class="list-group">
            <a class="list-group-item list-group-item-action" href="#">
                <h5 class="mt-2">..</h5>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
                <div class="d-flex align-items-center">
                    <div class="d-flex justify-content-center" style="width:2.2rem;font-size: 1.5rem">
                        <i class="far fa-folder"></i>
                    </div>
                    <h5 class="mt-2">item</h5>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width:2.2rem;font-size: 1.5rem">
                            <i class="far fa-folder"></i>
                        </div>
                        <h5 class="mt-2">item</h5>
                    </div>
                    <div>
                        <span class="badge rounded-pill bg-primary">1<span>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width:2.2rem;font-size: 1.5rem">
                            <i class="far fa-file"></i>
                        </div>
                        <h5 class="mt-2">item</h5>
                    </div>
                    <div>
                        <span class="badge rounded-pill bg-warning text-dark">1,234<span>
                    </div>
                </div>
            </a>
        </ul>
    </div>
</div>

<div th:replace="fragments.html :: footer"></div>
</body>
</html>